@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	background-color: #D7D3B8;   /* background color */
	color: #263A2B;          /* text color for the entire page */
	  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2 { 
	text-align:center; 	/* centers h1 and h2 content */
	 font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color:  #92C149; 
	color:  #263A2B; 
}

a:hover {
	font-size:200%;
	background-color: #FFC40C; 
	color: #008C8D; 
}


